body {
    background-color: MintCream;
}
input[type=button], input[type=submit], input[type=reset] {
    background-color: #FE9A2E;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

input[type=text], input[type=password]  {
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    width: 20%;
}

a:link:not(.user_link), a:visited:not(.user_link) {
    background-color: deepskyblue;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover:not(.user_link), a:active:not(.user_link) {
    background-color: red;
}

.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: fixed;
    z-index: 1;
    bottom: 20px;
    left: 1%;
    display: none;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
    display: block;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

.friend_popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

/* The actual popup (appears on top) */
.friend_popup .friendpopuptext {
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: fixed;
    z-index: 1;
    bottom: 140px;
    left: 1%;
    display: none;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.friend_popup .show {
    display: block;
    -webkit-animation: fadeInFriendPopup 1s;
    animation: fadeInFriendPopup 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeInFriendPopup {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeInFriendPopup {
    from {opacity: 0;}
    to {opacity:1 ;}
}

table {border: none;}