<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" />
    <link href="../static/css/friends.css" th:href="@{/css/friends.css}" rel="stylesheet" />
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="../static/css/navbar.css" th:href="@{/css/navbar.css}" rel="stylesheet" />
    <title>Dialogs</title>
</head>
<body>
<img src="../static/images/Delta1.png" width="419" th:src="@{images/Delta1.png}"/>
<div th:insert="Header :: header"></div>
<div class="container">
    <div class="row">
        <div class="col-sm-9">
<h2>Диалоги</h2>
<table cellspacing="0" cellpadding="0">
    <span th:each="dialogsList : ${dialogsList}">
        <span th:each="message,messageStat: ${dialogsList}" th:if="${messageStat.index == 0}" >
    <tr>
         <td><a class="user_link" th:href="'dialog' + '/' + ${message?.senderID.login} + '/' +  ${message?.recipientID.login}" th:text="'Dialog with' + ' ' + ${message?.senderID.login} + ' ' + 'and' + ' ' + ${message?.recipientID.login}"/></td>
    </tr>
        </span>
    </span>
</table>
        </div>
    </div>
</div>
</body>
</html>