<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" />
    <link href="/static/css/friends.css" th:href="@{/css/friends.css}" rel="stylesheet" />
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="../static/css/navbar.css" th:href="@{/css/navbar.css}" rel="stylesheet" />
    <title>User Dialog</title>
    <script type="text/javascript" th:inline="javascript">
        function Prepare() {
        var sender = [[${senderLogin}]];
        var recipient = [[${recipientLogin}]]
        SetSenderAndRecipient(sender, recipient);
        CheckAndGetMessage();

        }
    </script>
</head>
<body onload="Prepare();">
<div th:insert="Header :: header"></div>
<div class="container">
    <div class="row">
        <div class="col-sm-9">
<th:block layout:fragment="script">
<script th:src="@{/js/DialogBetweenUsers.js}"></script>
</th:block>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<img src="../static/images/Delta1.png"  th:src="@{/images/Delta1.png}"/>
<h2>Диалог с пользователем</h2>
<a href="/dialogs">Назад к диалогам </a>
<div class="container">
<div class="row">
    <div id="messageTable" class="col-md-6">
    </div>
</div>
</div>
<form action="javascript:;" id="send_message_in_dialog" onsubmit="sendDataOfForm(this);">
    <div class = "form">
        <input class="form-control input-lg" type="text" id="body" placeholder="Сообщение"/></div>
    <p><input class="btn btn-warning" type="submit"  value="Отправить" />
</form>
        </div>
    </div>
</div>
</body>
</html>