<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" />
    <link href="/static/css/friends.css" th:href="@{/css/friends.css}" rel="stylesheet" />
    <title>User Dialog</title>
</head>
<body>
<img src="../static/images/logo.png" width="419" th:src="@{/images/logo.png}"/>
<h2>Диалог с пользователем</h2>
<a href="/dialogs">Назад к диалогам </a>
<table cellspacing="0" cellpadding="0">
        <span th:each="message : ${messageList}">
    <tr>
            <tr>
                 <td>
            <div th:if="${message?.senderID.picture} == null">
            <img class="very_reduced_avatar" th:src="@{/images/default-avatar.jpg}" alt="" />
            </div>
            <div th:unless="${message?.senderID.picture} == null">
                <div th:if="${message?.senderID.login} == ${senderLogin}">
           <img class="very_reduced_avatar" th:src="*{'data:image/png;base64,'+senderPic}" alt="" />
                </div>
                <div th:if="${message?.senderID.login} == ${recipientLogin}">
           <img class="very_reduced_avatar" th:src="*{'data:image/png;base64,'+recipientPic}" alt="" />
                </div>
            </div>
         <a class="user_link" th:href="'/'+${message?.senderID.login}" th:text="${message?.senderID.firstName} + ' ' + ${message?.senderID.lastName}" /></td>
    </tr>
            <tr>
                        <td th:text="${message?.body}">Body</td>
            </tr>
        </span>
    </span>
</table>
<form action="#" th:action="@{/send_message_in_dialog}" th:object="${sendMessage}" method="post">
    <div class = "form"><input class="form-control input-lg" type="hidden" th:value="${senderLogin}" id="nickName" name="nickName"/>
        <input class="form-control input-lg" type="text" th:field="*{body}" placeholder="Сообщение"/></div>
    <p><input class="btn btn-warning" type="submit"  value="Отправить" />
</form>
</body>
</html>