<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" />
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
    <link href="../static/css/center.css" th:href="@{/css/center.css}" rel="stylesheet" />
    <title>Ошибка</title>
</head>
<body>
<div class = "center_error" >
    <h1> Неверный запрос </h1>
    <p>Произошла ошибка при отправке приглашения в друзья. Вернитесь на <a href="/friends">на вклалку "Друзья"</a>.</p>
</div>

</body>
</html>