<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" />
    <link href="../static/css/friends.css" th:href="@{/css/friends.css}" rel="stylesheet" />
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="../static/css/navbar.css" th:href="@{/css/navbar.css}" rel="stylesheet" />
    <link href="../static/css/center.css" th:href="@{/css/center.css}" rel="stylesheet" />
    <title>Friends</title>
</head>

<body>
<th:block layout:fragment="script">
    <script th:src="@{/js/FriendRequest.js}"></script>
</th:block>
    <div th:insert="Header :: header"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-9">
                <div class = "center_message">
                    <img src="../static/images/Delta1.png" th:src="@{images/Delta1.png}" />
                    <br> <br>
                <div class="tabs">
                    <input id="tab1" type="radio" name="tabs" checked>
                    <label for="tab1" title="Invite">Добавить друга</label>
                    <input id="tab2" type="radio" name="tabs">
                    <label for="tab2" title="FriendsList">Список друзей</label>
                    <input id="tab3" type="radio" name="tabs">
                    <label for="tab3" title="RequestIn">Входящие заявки</label>
                    <input id="tab4" type="radio" name="tabs">
                    <label for="tab4" title="RequestOut">Исходящие заявки</label>
                    <section id="content-tab1">

                        <form action="#" th:action="@{/send_friend_request}" th:object="${sendFriendRequest}" method="post">
                            <div align="middle">
                                <h3>Имя пользователя</h3>
                                <input type="text" th:field="*{friendNickname}" />
                                <h3>Сопутствующее сообщение</h3>
                                <input type="text" th:field="*{requestMessage}" />
                                <p><input type="submit" value="Добавить" /> <input type="reset" value="Сбросить" /></p>
                            </div>
                        </form>
                    </section>
                    <section id="content-tab2">
                        <h2 id="w">Ваши друзья</h2>
                        <table border="1">
                            <tr>
                                <th>Имя</th>
                                <th>Фамилия</th>
                                <th>Фото</th>
                            </tr>
                            <tr th:each="friend : ${Friends}">
                                <td><a th:href="${friend.login}" th:text="${friend.firstName}" target="_blank" /></td>
                                <td><span th:text="${friend?.lastName}" /></td>
                                <td><img class="reduced_avatar" th:src="*{'data:image/png;base64,'+friend.picture}" alt="" /></td>
                            </tr>
                        </table>
                    </section>
                    <section id="content-tab3">
                        <h2 id="e">Вас добавили</h2>
                        <table border="1">
                            <tr>
                                <th>Имя</th>
                                <th>Дата</th>
                                <th>Сообщение</th>
                                <th>Принять</th>
                            </tr>
                            <tr th:each="contact : ${contactReceivedList}">
                                <td><a th:href="${contact?.friendFromId.login}" th:text="${contact?.friendFromId.firstName}" target="_blank" /></td>
                                <td th:text="${contact?.createdAt}"></td>
                                <td th:text="${contact?.requestMessage}"></td>
                                <form name="FriendRequestForm" th:object="${sendFriendRequest}" method="post">
                                    <td>
                                        <input type="hidden" id="friendNickname" name="friendNickname" th:value="${contact?.friendFromId.login}" />
                                        <input type="submit" name="action" value="Y" onclick="AcceptRequest()" />
                                        <input type="submit" name="action" value="N" onclick="DeclineRequest()" />
                                    </td>
                                </form>
                            </tr>
                        </table>
                    </section>
                    <section id="content-tab4">
                        <h2>Вы добавили</h2>
                        <table border="1">
                            <tr>
                                <th>Имя</th>
                                <th>Дата</th>
                                <th>Сообщение</th>
                            </tr>
                            <tr th:each="contact : ${contactSentList}">
                                <td><a th:href="${contact?.friendToId.login}" th:text="${contact?.friendToId.login}" target="_blank" /></td>
                                <td th:text="${contact?.createdAt}"></td>
                                <td th:text="${contact?.requestMessage}"></td>
                            </tr>
                        </table>
                    </section>
                </div>


            </div>
        </div>
</div>
</div>
</body>
</html>