<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" />
    <link href="../static/css/friends.css" th:href="@{/css/friends.css}" rel="stylesheet" />
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="../static/css/navbar.css" th:href="@{/css/navbar.css}" rel="stylesheet" />
    <title>Friends</title>
</head>
<body>
<img src="../static/images/Delta1.png" width="419" th:src="@{images/Delta1.png}"/>
<div th:insert="Header :: header"></div>
<div class="container">
    <div class="row">
        <div class="col-sm-9">
<h2>Добавление в друзья</h2>
<form action="#" th:action="@{/send_friend_request}" th:object="${sendFriendRequest}" method="post">
    <p>Friend NickName:</p>
    <input type="text" th:field="*{friendNickname}" />
    <p>Request Message:</p>
    <input type="text" th:field="*{requestMessage}" />
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>
<h2>Список друзей</h2>
<table border="1">
    <tr>
        <th>login</th>
        <th>first name</th>
        <th>last name</th>
        <th>image</th>
    </tr>
    <tr th:each="friend : ${Friends}">
        <td><a th:href="${friend.login}" th:text="${friend.login}" target="_blank" /></td>
        <td><a th:text="${friend?.firstName}"/></td>
        <td><a th:text="${friend?.lastName}"/></td>
        <td><img class="reduced_avatar" th:src="*{'data:image/png;base64,'+friend.picture}" alt="" /></td>
    </tr>
</table>
<h2>Пропущенные заявки в друзья</h2>
<table border="1">
    <tr>
        <th>Contact id</th>
        <th>friend Nickname</th>
        <th>createdAt</th>
        <th>requestMessage</th>
        <th>Accept</th>
    </tr>
    <tr th:each="contact : ${contactReceivedList}">
        <td th:text="${contact?.id}">id</td>
        <td><a th:href="${contact?.friendFromId.login}" th:text="${contact?.friendFromId.login}" target="_blank" /></td>
        <td th:text="${contact?.createdAt}">createdAt</td>
        <td th:text="${contact?.requestMessage}">requestMessage</td>
        <form action="#" th:action="@{/proceed_friend_request}" th:object="${sendFriendRequest}" method="post">
        <td>
            <input type="hidden"  name="friendNickname" th:value="${contact?.friendFromId.login}" />
            <input type="submit" name="action" value="Y" />
            <input type="submit" name="action" value="N" />
        </td>
        </form>
    </tr>
</table>
<h2>Исходящие заявки в друзья</h2>
<table border="1">
    <tr>
        <th>Contact id</th>
        <th>friend Nickname</th>
        <th>createdAt</th>
        <th>requestMessage</th>
    </tr>
    <tr th:each="contact : ${contactSentList}">
        <td th:text="${contact?.id}">id</td>
        <td><a th:href="${contact?.friendToId.login}" th:text="${contact?.friendToId.login}" target="_blank" /></td>
        <td th:text="${contact?.createdAt}">createdAt</td>
        <td th:text="${contact?.requestMessage}">requestMessage</td>
    </tr>
</table>
        </div>
    </div>
</div>
</body>
</html>