<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" />
    <title>User Panel</title>
</head>
<body>
<th:block layout:fragment="script">
    <script th:src="@{/js/CheckAndGetMessage.js}"></script>
    </th:block>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<img src="../static/images/logo.png" width="419" th:src="@{images/logo.png}"/>
<h1>Пользовательская панель</h1>
<p><a href="/upload_avatar">Загрузить аватарку</a>
    <a href="/send_request">Друзья</a>
    <a href="/send_message">Отправить сообщение</a>
    <a href="/logout">Выход</a>
    <div th:if="${role}">
        <a href="/main_admin">Admin panel</a>
    </div>
</div>
</p>
<table style="font-family: Helvetica; font-size: 13px; color: #000000; ">
    <tr>
        <td rowspan="2">
            <img id="avatar" th:src="*{'data:image/png;base64,'+image}" alt="" />
        </td>
        <td valign="bottom">
            Name: <span th:text="${name}"></span>
        </td>
    </tr>
    <td  valign="top">
        Surname:<span th:text="${surname}"></span>
    </td>
    </tr>
</table>
<div class="popup"><span class="popuptext" id="MessageForCurrentUser"></span></div>
<div class="friend_popup"><span class="friendpopuptext" id="FriendRequestForCurrentUser"></span></div>
</body>
</html>