<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>DeltaBook registration</title>
</head>
<body>
<img src="../static/images/logo.png" width="419" th:src="@{images/logo.png}"/>
<h1>Регистрация на ДельтаБуке</h1>
<form action="#" th:action="@{/enter_reg}" th:object="${objectToFill}" method="post">
<p>Login: </p>
<input type="text" th:field="*{login}" />
<p>Password:</p>
<input type="text" th:field="*{password}" />
<p>Name: </p>
<input type="text" th:field="*{firstName}" />
<p>SurnName: </p>
<input type="text" th:field="*{lastName}" />
<p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>
</body>
</html>