<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" />
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
    <link href="../static/css/center.css" th:href="@{/css/center.css}" rel="stylesheet" />
    <title>Send message</title>
</head>
<body>
<a href="/">Назад в панель пользователя</a>
<div class = "center_message">
<img src="../static/images/Delta1.png" width="419" th:src="@{images/Delta1.png}"/>
    <br> <br>
    <h1>Отправка сообщения</h1>
<form action="#" th:action="@{/send_message}" th:object="${sendMessage}" method="post">
    <div class = "form"><input class="form-control input-lg" type="text" th:field="*{nickName}" placeholder="Имя друга"/>
    <input class="form-control input-lg" type="text" th:field="*{body}" placeholder="Сообщение"/></div>
    <p><input class="btn btn-warning" type="submit"  value="Отправить" /> <input class="btn btn-danger" type="reset" value="Удалить" /></p>
</form>
</div>
</body>
</html>