<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"></meta>
    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" />
    <title>Upload Files</title>
</head>
<body>
<img src="../static/images/logo.png" width="419" th:src="@{images/logo.png}"/>
<h1>Загрузка аватарки</h1>
<a href="/user_panel">Назад в панель пользователя</a>
<form action="/upload" method="post" enctype="multipart/form-data">
    <input type="file" name="files" multiple>
    <p></p><input type="submit" value="Upload Files"></input></p>
</form>
<div th:if="${msg}">
    <span th:text="${msg}"></span>
</div>
</body>
</html>