<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"></meta>
    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" />
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
    <link href="../static/css/center.css" th:href="@{/css/center.css}" rel="stylesheet" />
    <title>Upload Files</title>
</head>
<body>
<a href="/">Назад в панель пользователя</a>
<div class = "center_message">
    <img src="../static/images/Delta1.png" th:src="@{images/Delta1.png}"/>
    <br> <br>
<h1>Загрузка аватарки</h1>
<form action="/upload_avatar" method="post" enctype="multipart/form-data">
    <input type="file" name="files" multiple>
    <p></p><input class="btn btn-warning" type="submit" value="Загрузить файл"></input></p>
</form>
<div th:if="${msg}">
    <span th:text="${msg}"></span>
</div>
</div>
</body>
</html>