<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" />
    <title>User Panel</title>
</head>
<body>
<img src="../static/images/logo.png" width="419" th:src="@{images/logo.png}"/>
<h1>Пользовательская панель</h1>
<img th:src="*{'data:image/png;base64,'+image}" alt="" />
<p><a href="/upload_avatar">Загрузить аватарку</a></p>
<p><a href="/add_user">Добавить пользователя в друзья</a></p>
<p><a href="/send_message">Отправить сообщение</a></p>
<p><a href="/exit_user_panel">Выход</a></p>
</body>
</html>